<section class="dft-root">
  <header class="dft-fruit" data-dft-drop="fruit" title="GM: drop an Image Journal Page here to set the fruit image/name">
    <div class="dft-fruit-left">
      {{#if fruitImg}}
        <img class="dft-fruit-img" src="{{fruitImg}}" alt="{{fruitName}}" />
      {{else}}
        <div class="dft-fruit-img-fallback">
          <i class="fa-solid fa-apple-whole"></i>
        </div>
      {{/if}}
    </div>

    <div class="dft-fruit-mid">
      <div class="dft-fruit-name">{{fruitName}}</div>

      <div class="dft-fruit-meta">
        <label class="dft-label">
          Type
          <select class="dft-select" data-action="set-type">
            <option value="paramecia" {{#if (eq fruitType "paramecia")}}selected{{/if}}>Paramecia</option>
            <option value="logia" {{#if (eq fruitType "logia")}}selected{{/if}}>Logia</option>
            <option value="zoan" {{#if (eq fruitType "zoan")}}selected{{/if}}>Zoan</option>
          </select>
        </label>

        <label class="dft-label">
          DC/Attack Stat
          <select class="dft-select" data-action="set-casting-stat">
            <option value="str" {{#if (eq castingStat "str")}}selected{{/if}}>Strength</option>
            <option value="dex" {{#if (eq castingStat "dex")}}selected{{/if}}>Dexterity</option>
            <option value="con" {{#if (eq castingStat "con")}}selected{{/if}}>Constitution</option>
            <option value="wis" {{#if (eq castingStat "wis")}}selected{{/if}}>Wisdom</option>
            <option value="int" {{#if (eq castingStat "int")}}selected{{/if}}>Intelligence</option>
            <option value="cha" {{#if (eq castingStat "cha")}}selected{{/if}}>Charisma</option>
            <option value="willpower" {{#if (eq castingStat "willpower")}}selected{{/if}}>Willpower</option>
          </select>
        </label>

        <div class="dft-small">
          Save DC: <b>{{fruitSaveDC}}</b> • Attack: <b>{{fruitAttackModSigned}}</b>
          <span class="dft-dot">•</span>
          Highest Spell Level: <b>{{highestSpellLevel}}</b>
        </div>
      </div>
    </div>

    <div class="dft-fruit-right">
      {{#if showCharges}}
        <div class="dft-charges">
          <div class="dft-charge-top">
            <div class="dft-charge-text">
              Charges: <b>{{chargesCurrent}}</b> / <b>{{chargesMax}}</b>
              {{#if bonusCharges}}
                <span class="dft-bonus">(Bonus: {{bonusCharges}})</span>
              {{/if}}
            </div>

            <div class="dft-charge-buttons">
              <button type="button" class="dft-icon-btn" data-action="charge-minus" title="-1 charge">
                <i class="fa-solid fa-minus"></i>
              </button>
              <button type="button" class="dft-icon-btn" data-action="charge-plus" title="+1 charge">
                <i class="fa-solid fa-plus"></i>
              </button>
              <button type="button" class="dft-icon-btn" data-action="charge-bonus" title="Set bonus charges">
                <i class="fa-solid fa-wand-magic-sparkles"></i>
              </button>
            </div>
          </div>

          <div class="dft-charge-bar" role="progressbar" aria-valuenow="{{chargesCurrent}}" aria-valuemin="0" aria-valuemax="{{chargesMax}}">
            <div class="dft-charge-fill" style="width: {{chargePct}}%;"></div>
          </div>
        </div>
      {{else}}
        <div class="dft-zoan-note">Zoan fruits do not use charges.</div>
      {{/if}}
    </div>
  </header>

  <div class="dft-dropzone" data-dft-drop="items">
    <div class="dft-dropzone-inner">Drop Items Here (spells / attacks / features)</div>
  </div>

  {{#unless hasAny}}
    <p class="dft-empty">Nothing added yet. Drop an Item into the area above.</p>
  {{/unless}}

  {{#if spells.length}}
  <h4 class="dft-group-title">Spells</h4>
  <ol class="dft-list">
    {{#each spells}}
    <li class="dft-item" data-item-uuid="{{uuid}}">
      <img class="dft-item-img" src="{{img}}" alt="{{name}}" data-action="open"/>
      <div class="dft-item-name" data-action="open">
        {{name}}
        <span class="dft-cost">({{chargeCost}} ch)</span>
      </div>

      <div class="dft-item-actions">
        <button class="dft-item-btn" type="button" data-action="use" title="Use (spend charges)">
          <i class="fa-solid fa-bolt"></i>
        </button>
        <button class="dft-item-btn" type="button" data-action="edit" title="Edit cost / upcast">
          <i class="fa-solid fa-gear"></i>
        </button>
        <button class="dft-item-btn" type="button" data-action="remove" title="Remove from Devil Fruit">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
    </li>
    {{/each}}
  </ol>
  {{/if}}

  {{#if attacks.length}}
  <h4 class="dft-group-title">Attacks</h4>
  <ol class="dft-list">
    {{#each attacks}}
    <li class="dft-item" data-item-uuid="{{uuid}}">
      <img class="dft-item-img" src="{{img}}" alt="{{name}}" data-action="open"/>
      <div class="dft-item-name" data-action="open">
        {{name}}
        <span class="dft-cost">({{chargeCost}} ch)</span>
      </div>

      <div class="dft-item-actions">
        <button class="dft-item-btn" type="button" data-action="use" title="Use (spend charges)">
          <i class="fa-solid fa-bolt"></i>
        </button>
        <button class="dft-item-btn" type="button" data-action="edit" title="Edit cost">
          <i class="fa-solid fa-gear"></i>
        </button>
        <button class="dft-item-btn" type="button" data-action="remove" title="Remove from Devil Fruit">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
    </li>
    {{/each}}
  </ol>
  {{/if}}

  {{#if features.length}}
  <h4 class="dft-group-title">Features</h4>
  <ol class="dft-list">
    {{#each features}}
    <li class="dft-item" data-item-uuid="{{uuid}}">
      <img class="dft-item-img" src="{{img}}" alt="{{name}}" data-action="open"/>
      <div class="dft-item-name" data-action="open">
        {{name}}
        <span class="dft-cost">({{chargeCost}} ch)</span>
      </div>

      <div class="dft-item-actions">
        <button class="dft-item-btn" type="button" data-action="use" title="Use (spend charges)">
          <i class="fa-solid fa-bolt"></i>
        </button>
        <button class="dft-item-btn" type="button" data-action="edit" title="Edit cost">
          <i class="fa-solid fa-gear"></i>
        </button>
        <button class="dft-item-btn" type="button" data-action="remove" title="Remove from Devil Fruit">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
    </li>
    {{/each}}
  </ol>
  {{/if}}

  {{#if other.length}}
  <h4 class="dft-group-title">Other</h4>
  <ol class="dft-list">
    {{#each other}}
    <li class="dft-item" data-item-uuid="{{uuid}}">
      <img class="dft-item-img" src="{{img}}" alt="{{name}}" data-action="open"/>
      <div class="dft-item-name" data-action="open">
        {{name}}
        <span class="dft-cost">({{chargeCost}} ch)</span>
      </div>

      <div class="dft-item-actions">
        <button class="dft-item-btn" type="button" data-action="use" title="Use (spend charges)">
          <i class="fa-solid fa-bolt"></i>
        </button>
        <button class="dft-item-btn" type="button" data-action="edit" title="Edit cost">
          <i class="fa-solid fa-gear"></i>
        </button>
        <button class="dft-item-btn" type="button" data-action="remove" title="Remove from Devil Fruit">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
    </li>
    {{/each}}
  </ol>
  {{/if}}
</section>
